/*  CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  Global */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

body {
	background-image: url(../img/bg.png);
	background-color: #fafafa;
  width: 100%;
  color:#222222;
  font-size: 18px;
	font-family:  "Sukhumvit Set", "Prompt", sans-serif;
}

h1, h2, h3, h4 {
  font-weight:300;
	font-family:  "Sukhumvit Set", "Prompt", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 22px;
}

p {
	font-family:  "Sukhumvit Set", "Prompt", sans-serif;
  color:#222;
  font-weight: 300;
  max-width: 470px;
  line-height: 25px;
}

.colums-left p {
		text-shadow: 2px 4px 3px rgba(255,255,255,0.8);
}

a{
    color:#222;
    text-decoration: none;
}

a:hover{
    color:#666;
      text-decoration: none;
}

p a{
    color:#222;
    text-decoration: underline;
}

p a:hover{
    color:#666;
        text-decoration: underline;
}

.hide-on-desktop {
	display: none;
}

.spacing {
  display: block;
  height: 70px;
}

/*  Nav */

header {
	z-index: 999;
  width: 100%;
  position:fixed;
  background-color: #fff;;
  padding: 30px 5% 15px 5%;
}

header a {
  font-family:  "Sukhumvit Set", "Prompt", sans-serif;
  margin-right: 20px;
  color:#999999;
}

header a:first-child {
  color:#222;
  font-weight: 500;
}

header .social {
  margin-top: -10px;
  position: fixed;
  display: inline-block;
  right: 5%;
}



.line {
  background: url(../img/line.png) no-repeat;
  background-size: 28px;
}

.line:hover {
  background: url(../img/line-color.png) no-repeat;
  background-size: 28px;
}


.facebook {
  background: url(../img/facebook.svg) no-repeat;
  background-size: 28px;
}

.facebook:hover {
  background: url(../img/facebook-color.svg) no-repeat;
  background-size: 28px;
}

.twitter {
  background: url(../img/twitter.svg) no-repeat;
  background-size: 34px;
}

.twitter:hover {
  background: url(../img/twitter-color.svg) no-repeat;
  background-size: 34px;
}

.socail-icon {
  display: inline-block;
  width: 45px;
  height: 35px;
}




/*  Hover Button */


.support-button {
	display: block;
	position: fixed;
	width: 100px;
	height: 100px;
	border-radius: 360px;
	background-color: #222;
	right: 5%;
	top:15%;
}

.support-button:hover {
	transform: scale(1.1) translateY(-1px);
  transition: .05s ease;
	box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.1);
	z-index:99999;
}

.support-button h2 {
	color:#fff;
	font-size: 21px;
	font-weight: 600;
	padding-top:40px;
	text-align: center;
  transition: .05s ease;
}

/* Header */

.intro-header {
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	height: 100vh!important;
}

.white {
	color: #fff;
	opacity: 0.95;
	font-weight: 500;
	font-size: 21px;
	line-height: 30px;
	font-family:  "Sukhumvit Set", "Prompt", sans-serif;
}

/*  section init */

section {
  display: block;
  margin:0 auto;
}


.backbutton {
	display: inline-block;
	margin-top: 100px;
	font-family:  "Sukhumvit Set", "Prompt", sans-serif;
  color:#555;
	cursor: pointer;
	font-size:40px;
	  transition: .3s ease;
}

.backbutton:hover {
	  transition: .3s ease;
	transform: scale(1.1);
}

.paper-wrapper {
	text-align: center;
}

.paper .paper-sub-title {
	margin-top: 30px;
	line-height: 50px;
}

.paper-title {
	color: #333;
	padding-top: 200px;
}

.paper {
	margin-top: 20px;
	display: inline-block;
	background-color: #fff;
	width: 800px;
  transition: .3s ease;
}

.paper:hover {
	box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.2);
	transform: scale(1.01);
  transition: .3s ease;
}

.paper-grid {
	width: 100%;
	text-align: left;
  transition: .02s ease;
}

.paper-paragraph {
	font-size: 15px;
	max-width: 100%;
}

.paper-grid p {
	padding: 0;
}

a .paper-grid:hover {
	background-color: #333;
	color:#fff;
  transition: .02s ease;
}

.paper-grid-left {
	display: inline-block;
	text-align: left;
	width: 65%;
	line-height: 24px;
	padding: 35px;
}

.paper-grid-right {
	display: inline-block;
	text-align: right;
	width: 20%;
}


.paper-grid-right h4 {
	font-size: 13px;
	line-height: 17px;
	color: #999;
}

.full-grid-image {
	padding: 35px;
	background-color: #fefefe;
}

.paper-grid-left h4 {
	margin-top: 5px;
}

.dark {
	background-color: #222;
}

.progress-item {
	text-align: center;
}

.funding-now {
	font-weight: 400;
	color:#555;
}

.funding-total {
		font-weight: 600;
}

section p {
  padding: 20px 10% 50px 10%;
}


section .colums-full {
  display: block;
  width: 100%;
}

.timeline {
	margin-top: -100px;
	width: 100%;
	height: 500px;
	background-color: #222;
	margin-bottom: 50px;
}

section .colums-left {
display: inline-block;
width:48.9%;
min-height: 400px;
}

section .nofix-height {
min-height: 0px!important;
}

section .colums-right {
display: inline-block;
width:48.9%;
min-height: 400px;
}

section .colums-left p {
padding-left: 10%;
}

section .colums-left h1 {
padding-left: 10%;
}

section .colums-left h2 {
padding-left: 10%;
}



/*   Section */

.hero-logo {
  background-image: url(../img/logo_white.svg);
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: center;
}

.video-player-colums {
  text-align: center;
}

.video-player {
  display: inline-block;
  width: 500px;
  height:350px;
  background-color: #1c1c1c;
  transition: .1s ease;
}

.video-player:hover {
  transform: scale(1.04);
  transition: .05s ease;
}

.image-display {
  background-color: #222;
}

/* Feature */

.major-feature {
	text-align: center;
	width: 100%;
	display:block;
}

.major-feature .feature {
	margin-top: 10px;
	width: 200px;
	display:inline-block;
}

.major-feature .feature-icon {
	margin: 20px 10px 5px 10px;
	display: inline-block;
	width: 50px;
	height: 53px;
	font-size:50px;
}

.major-feature .feature h4 {
	font-size: 22px;
	font-weight: 600;
}

.minor-feature-wrapper {
	margin-top: -100px;
	text-align: center;
}

h2.feature-title {
padding-left: 0%!important;
margin-bottom: 20px;
}

.minor-feature {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	display:block;
}

.minor-feature .feature {
	margin-top: 5px;
	width: 150px;
	display:inline-block;
}

.minor-feature .feature-icon {
	margin: 9px;
	display: inline-block;
	width: 30px;
	height: 40px;
	font-size:40px;
}

.minor-feature .feature h4 {
	font-size: 17px;
}


/* Form */

.contact-form {
	padding: 0 15%;
	display: inline-block;
	margin-top: 40px;
	text-align: left;
	width: 100%;
}

.contact-form input[type=text] {
		font-size: 18px;
    box-sizing: border-box;
		color:#333;
		background-color: #fff;
}

.contact-form input[type=textarea] {
		font-size: 18px;
    box-sizing: border-box;
		color:#333;
		background-color: #FEFEFE;
}

textarea {
		font-family:  "Sukhumvit Set", "Prompt", sans-serif;
	background-color: #fff;
	margin-top: 10px;
	font-size: 18px;
	width: 50%;
	min-height: 200px;
	border: none;
	outline: none;
	border-bottom: solid 2px #c9c9c9;
}

.form-button {
	width: 120px;
font-family: "Sukhumvit Set", "Prompt", sans-serif;
height: 35px;
border-radius: 5px;
color: #fff;
background-color: #333;
font-size: 16px;
text-align: center;
border: none;
transition: .3s;
position: relative;
margin: 40px 0 30px 0;
}

.form-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}


/* Support */

.support-wrapper {
	margin-top: -250px;
	padding: 0 5% 30px 5%;
}

.support-way {
	display: inline-block;
	height: 500px;
	margin-right: 10px;
	background-color: #222;
	width: 32.2222%;
	transition: ease 0.1s;
	z-index:1;
}

.support-way:hover {
	transition: ease 0.1s;
	transform: translateY(-3px);
	transform:scale(1.02);
	box-shadow: 0 37.125px 70px -12.125px rgba(0, 0, 0, 0.3);
	z-index:1;
}

.support-way h1 {
	color: #fff;
	font-size: 27px;
	padding: 20px 10% 0 10%;
	margin-bottom:-10px;
}

.special {
	font-size: 17px;
	font-weight: 400;
	color:#fff;
	padding: 3px 5px;
	display: inline-block;
	background-color: #f46c0e;
	margin-left: 10px;
	transform: translateY(-3px);
}


.support-way p {
	color: #fff;
	font-size:16px;
}

.showcase {
	width: 100%;
	height: 300px;
	background-color:#fafafa;
}


/* footer */

.footer {
	margin-top: -150px;
	padding: 70px 0 40px 0;
	background-color: #222;
	color:#fff;
}

.footer p {
  padding: 20px 10% 50px 10%;
	color:#fff;
}

.footer form {
	  padding: 0 10% 0 10%;
}

input[type=text] {
  font-family:  "Sukhumvit Set", "Prompt", sans-serif;
 background-color: #222;
 font-size:22px;
	color:#fff;
  border: none;
	outline: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"].focus {
  outline: none;
  border-bottom: solid 2px #969696;
}

input[type="button"] {
	margin-left: 10px;
  outline: none;
  font-family:  "Sukhumvit Set", "Prompt", sans-serif;
 background-color: #222;
 border: none;
 font-size:22px;
 color:#fff;
}

input[type="button"]:hover {
 cursor: pointer;
 color:#eee;
}

.footer .colums-left {
display: inline-block;
width:48.9%;
min-height: inherit;
}

.footer .colums-right {
display: inline-block;
width:48.9%;
min-height: inherit;
}

.footer .colums-left p {
padding-left: 10%;
}

.footer .colums-right p {
font-size:16px;
}

.footer .colums-right p strong {
font-weight: 600;
}

.footer .colums-right p a {
color:#fff;
text-decoration: none;
}

.footer .colums-right p a:hover {
text-decoration: underline;
}

.footer .social {
	color:#fff;
	margin-top: 20px;
	padding-left: 10%;
}

.footer .facebook {
  background: url(../img/facebook-white.svg) no-repeat;
  background-size: 28px;
}

.footer .facebook:hover {
  background: url(../img/facebook-bright.svg) no-repeat;
  background-size: 28px;
}

.footer .twitter {
  background: url(../img/twitter-white.svg) no-repeat;
  background-size: 34px;
}

.footer .twitter:hover {
  background: url(../img/twitter-color.svg) no-repeat;
  background-size: 34px;
}

footer {
	padding: 70px;
	text-align: center;
}

/*   Mobile */

@media screen and (max-width:800px) {

	.hide-on-desktop {
		display: inline;
		color:#222;
	}

	.hide-on-mobile {
		display: none;
	}

	.hero-logo {
	  background-size: 40rem;
	}

	.support-button {
		right: 5%;
		top:10%;
		z-index: 9999999;
	}

	header {
	  padding: 15px 5% 15px 5%;
	}

	header .social {
		margin-top: -5px;
		position: fixed;
		display: inline-block;
		right:5%;
	}

	.intro-header {
		height: auto!important;
	}

	header a {
	  margin-right: 0px;
	  color:#999999;
	}

	section h1 {
		margin-top: 40px;
	}

	section .colums-left {
		display: block;
		width: 100%;
	}

	section .colums-right {
		display: block;
		width: 100%;
	}

	.support-way {
		margin-top: 20px;
		display: block;
		margin-right: 10px;
		background-color: #222;
		width: 100%;
		transition: ease 0.1s;
		z-index:1;
		padding-bottom: 50px;
	}

	.support-way h1 {
		color: #fff;
		: 27px;
		padding: 5px 10% 0 10%;
		margin-bottom:-10px;
	}

	.footer .colums-left {
	display: block;
	width:100%;
	min-height: inherit;
	}

	.footer .colums-right {
	display: block;
	width:100%;
	min-height: inherit;
	}


	input[type="button"] {
		margin-left: 0px;
	}


}


.progress {
	transform: translateY(30px);
		display: inline-block;
		text-align: center;
    position: auto;
    height: 160px;
    width: 160px;
    cursor: pointer;
		padding-right: 10%;
}

.progress-circle {
  transform: rotate(-90deg);
	margin-top: -40px;
}

.progress-circle-back {
	fill: none;
	stroke: #eee;
	stroke-width:10px;
}

.progress-circle-prog {
	fill: none;
	stroke: #333;
	stroke-width: 10px;
	stroke-dasharray: 0 999;
	stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
	width: 100%;
	transform: translateY(-100px);
	top: 60px;
	text-align: center;
	font-size: 2em;
}

/*  Background */

.learn-with-us {
	background-image: url(../img/learn.jpg);
	background-size: cover;
	background-position: center center;
}

.tee {
	background-image: url(../img/tee.jpg);
	background-size: cover;
		background-position: center center;
}

.help {
	background-image: url(../img/help.jpg);
	background-size: cover;
	background-position: center center;
}

.fun {
	background-image: url(../img/fun.jpg);
	background-size: cover;
	background-position: center center;
}

.talk {
	background-image: url(../img/talk.jpg);
	background-size: cover;
	background-position: center center;
}

.sit {
	background-image: url(../img/sit.jpg);
	background-size: cover;
	background-position: center center;
}

.teach {
	background-image: url(../img/teach.jpg);
	background-size: cover;
	background-position: center center;
}

.play {
	background-image: url(../img/play.jpg);
	background-size: cover;
	background-position: top center;
}

.work {
	background-image: url(../img/work.jpg);
	background-size: cover;
	background-position: center center;
}

.write {
	background-image: url(../img/write.jpg);
	background-size: cover;
	background-position: center center;
}

.hero {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: center center;
}
